:root {
  --background-black-body: #2F3334;
  --background-header-footer: #181A1C;
  --text-light-primary: #fff;
  --text-light-secondary: #C1C2C4;
  --color-top-series: #e53935;
  --color-preimum: #B7A207;
  --color-blue-primary: #243FDB;
  --color-blue-hover: #0367DB;
}